:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  text-align: center;
  align-items: center;
  
}
*{
   margin:0;
   padding:0;
   box-sizing: border-box;
   overflow-x: hidden;

}
.carousel-container{
  max-width: 100%;
  display: flex;
  justify-content: center;
  margin: 1rem 3rem;
  
}
.carouselItem{
  padding:0.1rem 1.2rem 1rem 1.2rem;

}

.restProfile{
  width: 100vw;
   padding:2rem 3rem; 
}


.FoodContainer{
  overflow-y:hidden;
  margin:1rem;
  display:grid;
  grid-template-columns: repeat(4,1fr);
  gap: 0.8rem;
}

.ItemsContainer:hover{
 transform: scale(0.9);
 transition: all 0.05s ease 0s;
 overflow: hidden;
}

.SingleRest{
  width: 100%;
  height: 100%;
  padding:3rem 5rem;
  margin: 0rem 3rem;
  display: flex;
  flex-direction: column;
  
}
.SingleRest>div{
  padding:1rem 0
}

.header{
  
  display: flex;
  flex-direction: column;
  border:none;
  border-bottom: 1px dashed #d3d3d3;
  
  
}
.header>div>span{
  font-size: 12px;
  color:#93959f
}
.header>div{

  text-align: left;
}
.deliver{
  padding-top: 1rem;
}
.Downheader{
  display: flex;
  flex-direction: row;
  align-items: center;
  color:black;
  
  align-items: center;
}
.Downheader>div{
  display: flex;
  padding:0 0.5rem;
  
 
  
}
.ButtonContainer{
  border:none;
  border-bottom:1px solid #d3d3d3;
}



.Footer{
  background-color: #f1f1f6;
  
}
.Footerhead{
     display: flex;
     flex-direction: row;
     align-items: center;
     height: 5rem;
     width: 100%;
     padding: 3rem 1rem;
     overflow-y: hidden;
}
.Footerhead>div{
  padding: 0.5rem;
  
}
.Footerhead>span{
  
  color: #93959f;
}
.Subfooter{
  display: flex;
  flex-direction: column;
  text-align: left;
}
.imageContainer{
  width:70px ;
 
}


.imageBox{
  height: 10rem,
  
}

